html{
    scroll-behavior: smooth;
}

body{
  background-image: url("../images/background3.png");
  min-height: 20em;
  height: 20%;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 14em;
  background-color: #d3d3d3;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;
  font-size: 1em;
  font-family: sans-serif;
}

nav{
  background-color: skyblue;
  padding: 25px 0;
  text-align: center;
}


footer{
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  padding-bottom: 5px;
  text-align: center;
}
header{
  margin-top: 10px;
  padding-bottom: 20px;
}
header h1{
  color: black;
  font-size: 36px;
  padding: 0 100px;
  text-align: center;
}
.skip a{
  background: skyblue;
  left: 0;
  font-family: Verdana, arial;
  font-style:normal;
  padding: 7px;
  z-index: 1;
  position: absolute;
  top: -50px;
}
.skip a:focus{
  top: 10px;
}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
  background-color: skyblue;
}
nav ul li .current{
  background-color: violet;
  color: black;
  padding: 10px;
  border-radius: 25px;
  border-style: solid;
  border-width: medium;
}
/* .container{
  display: flex;
} */
.parallax{
  display: flex;
  flex-direction: row;
  align-self: center;
  background-image: url("../images/landscape2.jpg");
  min-height: 15em;
  height: 10%;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 10em;
}
.gap{
  display: flex;
  flex direction: row;
  padding-bottom: 4em;
}
.container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.name{
  display:flex;
  flex-direction: column;
  padding-left:auto ;
  justify-content: center;
  align-items: center;
  flex-grow: .75;
}
.name p, .name h3{
  background-color: skyblue;
  border-radius: 25px;
  padding: 20px;
  font-size: 24px;
  font-family: verdana, arial;
  border-style: solid;
  border-width: medium;
}
.imageone img{
  border-radius: 25px;
}

@media (min-width: 650px) and (max-width: 1024px) {
  html{
      scroll-behavior: smooth;
  }

  body{
    background-image: url("../images/background3.png");
    min-height: 20em;
    height: 20%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 14em;
    background-color: #d3d3d3;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
  }

  h2{
    font-size: 32px;
    line-height: 1.5;
  }

  nav li{
    display:inline;
    padding-right:20px;
    font-size: 1em;
    font-family: sans-serif;
  }

  nav{
    background-color: skyblue;
    padding: 25px 0;
    text-align: center;
  }
  /* .skip a{
    background: skyblue;
    left: 0;
    font-family: Verdana, arial;
    font-style:normal;
    padding: 7px;
    z-index: 1;
    position: absolute;
    top: -50px;
  }
  .skip a:focus{
    top: 10px;
  } */

  footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding-bottom: 5px;
    text-align: center;
  }

  header h1{
    color: black;
    font-size: 30px;
    padding: 10px 0px;
    text-align: center;
    font-family: verdana, arial;
    background-color: skyblue;
    border-radius: 25px;
    box-shadow: 6px 6px 5px grey;
  }

  nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  nav a:hover{
    text-decoration: underline;
    background-color: skyblue;
  }
  nav ul li .current{
    background-color: violet;
    color: black;
    padding: 10px;
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
  }
  /* .container{
    display: flex;
  } */
  .parallax{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-image: url("../images/landscape2.jpg");
    min-height: 12em;
    height: 20%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 14em;
  }
  .gap{
    display: flex;
    flex direction: row;
    padding-bottom: 4em;
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .name{
    display:flex;
    flex-direction: column;
    padding-left:auto ;
    justify-content: center;
    align-items: center;
    flex-grow: .75;
  }
  .name p, .name h3{
    background-color: skyblue;
    border-radius: 25px;
    padding: 20px;
    font-size: 24px;
    font-family: verdana, arial;
    border-style: solid;
    border-width: medium;
  }
  .imageone img{
    border-radius: 25px;
    height: 400px;
    width: auto;
  }
}

@media (min-width: 1025px) {
  html{
      scroll-behavior: smooth;
  }

  body{
    background-image: url("../images/background3.png");
    min-height: 20em;
    height: 20%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 14em;
    background-color: #d3d3d3;
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
  }

  h2{
    font-size: 32px;
    line-height: 1.5;
  }

  nav li{
    display:inline;
    padding-right:20px;
    font-size: 1.5em;
    font-family: sans-serif;
  }

  nav{
    background-color: skyblue;
    padding: 25px 0;
    text-align: center;
  }


  footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    padding-bottom: 5px;
    text-align: center;
  }

  header{
    font-family: verdana, arial;
  }
  header h1{
    color: black;
    font-size: 44px;
    padding: 20px 0px;
    text-align: center;
    font-family: verdana, arial;
    background-color: skyblue;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
  }

  nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  nav a:hover{
    text-decoration: underline;
    background-color: skyblue;
  }
  nav ul li .current{
    background-color: violet;
    color: black;
    padding: 10px;
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
  }
  .skip a{
    background: skyblue;
    left: 0;
    font-family: Verdana, arial;
    font-style:normal;
    padding: 7px;
    z-index: 1;
    position: absolute;
    top: -50px;
  }
  .skip a:focus{
    top: 10px;
  }
  /* .container{
    display: flex;
  } */
  .parallax{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-image: url("../images/landscape2.jpg");
    min-height: 20em;
    height: 20%;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 14em;
  }
  .gap{
    display: flex;
    flex direction: row;
    padding-bottom: 4em;
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .name{
    display:flex;
    flex-direction: column;
    padding-left:auto ;
    justify-content: center;
    align-items: center;
    flex-grow: .75;
  }
  .name p, .name h3{
    background-color: skyblue;
    border-radius: 25px;
    padding: 20px;
    font-size: 24px;
    font-family: verdana, arial;
    border-style: solid;
    border-width: medium;
  }
  .imageone img{
    border-radius: 25px;
  }
}
